# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
*.pyc

# Environment variables / credentials
.env

# VSCode settings
.vscode/
requirements.txt

# macOS metadata
.DS_Store

#config for secrets
config.yaml

# Ignore all log files but keep the folder
logs/*
*.log
!logs/.gitkeep

# Ignore Stockfish binary files inside these folders
stockfish_bin/official_stockfish
stockfish_bin/patched_stockfish
