# --- Core dependencies ---
pandas==2.2.3
pyyaml==6.0.2
requests==2.32.3
ruamel.yaml==0.18.11

# --- Web and API ---
fastapi==0.115.2
uvicorn==0.32.0
flask-cors==6.0.0
gunicorn==23.0.0

# --- Utilities ---
backports.tarfile==1.2.0
importlib-metadata==8.0.0
jaraco.collections==5.1.0
platformdirs==4.2.2
pip-chill==1.0.3
pip-tools==7.4.1
tomli==2.0.1