backports.tarfile==1.2.0
flask-cors==6.0.0
gunicorn==23.0.0
importlib-metadata==8.0.0
jaraco.collections==5.1.0
pandas==2.2.3
pip-chill==1.0.3
pip-tools==7.4.1
platformdirs==4.2.2
pyyaml==6.0.2
requests==2.32.3
stockfish==3.28.0
tomli==2.0.1
ruamel.yaml==0.18.11
